* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.navbar {
    border: 2px solid red;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #575757;
}

.btn {
    background-color: #1D4ED8;
    padding: 12px 41px;                                       /* */
}