* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #FFFFFF;
}

.btn {
    background-color: #1D4ED8;
    padding: 12px 41px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: #FFFFFF;
}

.navbar {
    display: flex; 
    justify-content: space-between;
    padding: 24px 115px;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #575757;
}

#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('./assets/images/banner.jpg');
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner-content h1 {
    font-size: 80px;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.banner-description {
    font-size: 22px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 200px;
}

.hero-btn {
    font-size: 24px;
    padding: 25px 62px;
}

header {
    margin-bottom: 80px;
}

.speakers h2 {
    font-size: 56px;
    font-weight: bold;
    color: #000102;
    margin-bottom: 56px;
    text-align: center;
}

.speakers-container {
    border: 2px solid red;
}

.speaker-card {
    border: 2px solid blue;
    max-width: 644px;                                   /* */
}