* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/* Common Style */
.common-btn {
    background-color: #fd6e0a;                                  /* */
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px 0;
}

.logo {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

.logo-r {
    color: #fd6e0a;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

ul li a {
    text-decoration: none;
}