* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #b0abab;                     /* Bg add */
}

nav {
    display: flex;                                /* Bg remove */
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}