/* ===========================
   Global Reset
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

/* ===========================
   Reusable Container
=========================== */

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* ===========================
   Header
=========================== */

.header {
    padding: 20px 0;
}

/* ===========================
   Navbar
=========================== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ===========================
   Logo
=========================== */

.logo {
    font-size: 45px;
    font-weight: 800;
    color: #181818;
}

.logo-highlight {
    color: #fd6e0a;
}

/* ===========================
   Right Side of Navbar
=========================== */

.navbar-actions {
    display: flex;
    align-items: center;
    gap: 50px;
}

/* ===========================
   Navigation Links
=========================== */

.nav-links {
    display: flex;
    align-items: center;
    gap: 40px;

    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #fd6e0a;
}

/* ===========================
   Reusable Buttons
=========================== */

.btn {
    padding: 18px 36px;
    border: none;
    border-radius: 5px;

    font-size: 20px;
    font-weight: 700;

    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-primary {
    background-color: #fd6e0a;
    color: #ffffff;
}

.btn-primary:hover {
    background-color: #e55d00;
}