* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}


/* Shared Style */
.logo h2 {
    font-size: 45px;
    font-weight: 800;
}

.btn {
    background-color: #FD6E0A;
    padding: 18px 36px;
    border: none;
    border-radius: 5px;                                         /* */
}


/* Main Style */
.color-orange {
    color: #FD6E0A;
}

header {
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav {
    border: 2px solid red;
    width: 70%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    font-size: 20px;
    color: #474747;
}