* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #FFF8F3;
    padding-top: 50px;
}

nav {
    border: 2px solid red;
    width: 70%;
    max-width: 1140px;                                  /* */
}