* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #b0abab;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 12px 0;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

ul li a {
    text-decoration: none;                                   /* */
}