* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #FFFFFF;
}

.navbar {
    display: flex; 
    justify-content: space-between;
    padding: 24px 115px;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 24px;
}

.nav-links a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    color: #575757;
}

.btn {
    background-color: #1D4ED8;
    padding: 12px 41px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: #FFFFFF;
}

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('./assets/images/banner.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.banner-content {
    text-align: center;
}

.banner-content h1 {
    color: #FFFFFF;
    font-size: 80px;
    font-weight: 500;
    margin-bottom: 16px;
}

.banner-content p {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
}

.hero-btn {
    padding: 25px 62px;
    margin-top: 152px; 
}

.speakers {
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.speakers h2 {
    font-size: 56px;
    font-weight: bold;
    color: #000102;
    text-align: center;
    margin-bottom: 56px;
}

.speakers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 33px;
}

.speaker-card {
    border: 1px solid #E5E7EB;
    border-radius: 12px;
}

.speaker-card div {
    margin: 24px;
}

.speaker-card img {
    width: 100%;
}

.speaker-card h3 {
    font-size: 20px;
    font-weight: bold;
    color: #0D1B2A;
    margin-top: 8px;
    margin-bottom: 8px;
}

.speaker-card p {
    font-size: 14px;
    font-weight: 400;
    color: #575757;
}

.speaker-category {
    font-size: 12px;
    font-weight: 600;
    color: #2563EB;
}

.pricing {
    max-width: 1440px;
    margin: 0 auto;
    padding: 60px 90px;
    margin-bottom: 50px;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-header h2 {
    font-size: 48px;
    font-weight: bold;
    color: #0D1B2A;
    margin-bottom: 10px;
}

.section-header p {
    color: #575757;
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.pricing-card {
    max-width: 370px;
    padding: 32px;
    border-radius: 10px;
    border: 1px solid #E5E7EB;
}

.pricing-card p {
    font-size: 13px;
    font-weight: 600;
    color: #888888;
}

.plan-features {
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin-top: 41px;
    line-height: 20px;
}

.pricing-card h3 {
    font-size: 44px;
    font-weight: bold;
    color: #0D1B2A;
}

.highlight-card {
    background-color: #0D1B2A;
    color: #FFFFFF;

}

.highlight-card h3 {
    font-size: 44px;
    font-weight: bold;
    color: #FFFFFF;
}

.highlight-card p {
    font-size: 13px;
    font-weight: 400;
}

.highlight-card ul {
    font-size: 14px;
    font-weight: 400;
    margin-top: 41px;
    line-height: 20px;
}

#pro {
    font-size: 13px;
    font-weight: 600;
    color: #93C5FD;
}

.card-btn {
    padding: 12px 126px;
    margin-top: 20px;
}

.card-btn2 {
    padding: 12px 105px;
    border: 1px solid #2563EB;
    border-radius: 10px;
    color: #2563EB;
    margin-top: 20px;
}

.card-btn3 {
    padding: 12px 105px;
    border: 1px solid #0D1B2A;
    border-radius: 10px;
    margin-top: 20px;
    color: #0D1B2A;
    background-color: #F8F9FB;
}