.banner {
    display: flex;
}

.banner-content {
    flex: 1;
}

.banner-img-container {
    flex: 1;                                                    /* */
}

.banner-img-container {
    width: 100%;
}